h1{
    background-color: blue;
    color: white;
}

.information{
    text-align: center;
    background-color: blue;
}
.pictures{
    align-right: auto;
    align-left: auto;
    width; 50%;
    
}
